.navbar {
  padding: 10px;

  height: calc(100vh - 140px);
  width: 20%;
  min-width: 110px;

  &__element {
    padding: 10px 0;
    border-bottom: gray 2px solid;

  }

  &__link {
    font-size: 20px;
    &:hover {
    }
    &.active {
      color: orangered;
    }
  }
}