.chat-body {
  width: 100%;
  padding: 10px;

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  &__inner {
    border: #363535 2px solid;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.messages {
  padding: 20px;

  height: calc(100vh - 290px);
  overflow-y: scroll;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

}